<p>web-socket works!</p>
<div class="table">
    <p-table [columns]="headers" #dt [value]="userDetails" [scrollable]="true" scrollHeight="400px" [lazy]="true" >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td  *ngFor="let col of columns">
                        {{ rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- {{userDetails | json}} -->